html {
  padding: 0;
  margin: 0;
}

.bg-green {
  background-color: limegreen;
}

.bg-orange {
  background-color: orange;
}

.bg-navy {
  background-color: rgb(19, 19, 29);
}

.text-white {
  color: white;
}

.p-4 {
  padding: 16px;
}

.m-4 {
  margin: 16px;
}
